# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\pedro\OneDrive\Documentos\NetBeansProjects\1ºAno\PPROG\1DH_TP3_1190963\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
