# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\pedro\OneDrive\Documentos\NetBeansProjects\PPROG\1DH_TP1_1190956_1190963\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
